*
!/.gitignore

# Carpetas y contenido
!/src/
!/src/**
!/Tests/
!/Tests/**
!/.devcontainer/
!/.devcontainer/**
!/bruno/

# Archivos
!/run.sh
!/run-dev.sh
!/run.bat
!/run-dev.bat
!/TODO.md
!/schema.sql

!/EduZasAPI.sln
!/Directory.Build.props
!/README.md
!/.env.example
!/Dockerfile
