*
!/.gitignore

# Carpetas y contenido
!/src/
!/src/**
!/Tests/
!/tests/**
!/.devcontainer/
!/.devcontainer/**

# Archivos
!/run.sh
!/run-dev.sh
!/run.bat
!/run-dev.bat
!/TODO.md

!/EduZasAPI.sln
!/Directory.Build.props
!/README.md
!/.env.example
!/Dockerfile
